## Shared Secrets for Federation Level Roaming Proxies  (FLR)<TLD>_flr_secret:

## Global Forward Roaming/Proxies
etlr1_secret: SuperSecret
etlr2_secret: SuperSecret2

# eduroam Monitoring/Statistics: Get a shared secret from eduroam OT
monitoring_secret: MonSecret

## NewRelic
#newrelic_license_key: